@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #e1300b;
  --color-primary: #042c4a;
  --color-secondary: #acc8e5;
}

:root:has(.no-doc-scroll) {
  overflow-y: hidden;
  @media screen and (min-width: 1280px) {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

body {
  width: 100%;
}

@layer utilities {
}
